/* style.css */

body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #e6f7e6, #b2f7b2);
}

/* ===== Section ===== */
.download-section {
    margin: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download-section h1 {
  text-align: center;
  font-size: 2.2rem;
  color: #000000;
  margin-bottom: 30px;
}

/* ===== Download Card ===== */
.download-container {
  display: flex;
  justify-content: center;
}

.download-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 300px;
    padding: 20px;
}

.download-card p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.download-btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #c80000;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  align-items: center;
  text-align: center;
}

.download-btn:hover {
  background-color: #ec4646;
}


@media screen and (max-width: 600px) {
  .download-section {
    margin: 20px;
    padding: 15px;
  }

  .download-container {
    flex-direction: column;
    align-items: center;
  }

  .download-card {
    width: 90%;
    max-width: 90%;
    padding: 15px;
  }

  .download-section h1 {
    font-size: 1.8rem;
  }

  .download-btn {
    font-size: 0.95rem;
  }

}
