body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #b2f7b2, #20c997);
  min-height: 200vh;
}

/* ===== ติดต่อ ===== */
section {
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  box-shadow: 0 0 10px #0000001a;
  font-family: 'Kanit', sans-serif;
  text-align: left;
}

section h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.2rem;
  color: #000000;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

section img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

section a {
  color: #000000;
  text-decoration: none;
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  
  .menu-toggle {
    display: block;
  }

  section {
    margin: 20px 10px;
    padding: 20px;
  }

  section h1 {
    font-size: 2rem;
  }

  section h2 {
    font-size: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  section img {
    width: 30px;
    height: 30px;
  }

  section a {
    font-size: 1.5rem;
  }
}