/* ===== ติดต่อ ===== */
section {
    margin: 15px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.2rem;
  color: #000000;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

section img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

section a {
  color: #000000;
  text-decoration: none;
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  
  .menu-toggle {
    display: block;
  }

  section {
    margin: 10px 5px;
    padding: 2px;
  }

  section h1 {
    font-size: 2rem;
  }

  section h2 {
    font-size: 1rem;
    flex-direction: column;
    align-items: start;
  }

  section img {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  section a {
    font-size: 1rem;
  }
}