/* ===== ส่วนการศึกษา ===== */
.edu-section {
    margin: 15px auto;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px #000000;
}

.edu-section h1 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
}

/* ===== การ์ดการศึกษา ===== */
.edu-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 12px;
    box-shadow: 0 4px 10px #000000;
    transition: transform 0.2s ease;
    gap: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin: 20px;
    padding: 5px;
}

.edu-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
    flex-shrink: 0;
    margin: 10px;
}

.edu-text {
    flex: 1;
}

.edu-card h2 {
    margin: 5px 0;
    font-size: 1rem;
    color: #222;
}

/* ===== มือถือแนวนอน / Tablet เล็ก (481px - 768px) ===== */
@media (min-width: 481px) and (max-width: 768px) {

    .edu-section {
        max-width: 1200px;
        padding: 24px;
        width: 90%;
    }

    .edu-section h1 {
        font-size: 1.6rem;
    }

    .edu-card {
        flex-direction: row;
        gap: 15px;
        padding: 10px;
    }

    .edu-card img {
        width: 90px;
        height: 90px;
    }

    .edu-card h2 {
        font-size: 1rem;
    }
}

/* ===== Tablet ใหญ่ / Laptop เล็ก (769px - 1279px) ===== */
@media (min-width: 769px) and (max-width: 1279px) {
    .edu-section {
        max-width: 1200px;
        padding: 24px;
        width: 90%;
    }

    .edu-section h1 {
        font-size: 1.8rem;
    }

    .edu-card {
        flex-direction: row;
        gap: 20px;
        padding: 12px;
    }

    .edu-card img {
        width: 100px;
        height: 100px;
    }

    .edu-card h2 {
        font-size: 1.1rem;
    }
}

/* ===== Desktop (≥1280px) ===== */
@media (min-width: 1280px) {
    .edu-section {
        max-width: 1400px;
        padding: 24px;
        width: 100%;
    }
}