/* ===== Section ===== */
.about {
  margin: 15px auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  max-width: 1400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ===== รูปโปรไฟล์ ===== */
.about img {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007acc;
  margin: 0 auto 20px auto;
}

/* ===== หัวเรื่อง ===== */
.about h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  font-size: 3rem;
}

.about h2 {
  margin-top: 30px;
  color: #000000;
  font-size: 1.5rem;
}

/* ===== ข้อมูลส่วนตัว ===== */
.about p {
  text-align: left;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 20px;
  word-wrap: break-word;
}

personal-record p {
  margin: 10px;
  font-size: 2.5rem;
}

/* ===== ลิงก์ ===== */
.about a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.about a:hover {
  text-decoration: underline;
}

/* ===== กล่องทักษะ (แสดงเป็น 3 คอลัมน์) ===== */
.skill-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* กล่องแต่ละทักษะ */
.skill-row {
  background: #ffffffcc;
  margin: 12px;
  padding: 1px;
  text-align: center;
  border-radius: 8px;
  background-color: #8ef4d5;
  box-shadow: 0 2px 4px rgba(5, 1, 1, 0.1);
  display: flex;
  flex-direction: column;

}

/* ชื่อทักษะ */
.skill-name {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

/* กราฟกล่อง */
.skill-bar {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 4px;
  margin: 20px 0;
  padding: 10px;
  margin-bottom: 20px;
}

.box {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  border: 2px solid #000000;
  background-color: #ffffff;
}

.box.filled {
  background-color: #fa0000;
}

/* เปอร์เซ็นต์ */
.percent {
  font-size: 1rem;
  color: #000000;
  text-align: center;
}

/* ===== Responsive (มือถือ) ===== */

@media (min-width: 481px) and (max-width: 768px) {

  .about {
    max-width: 1200px;
    width: 90%;
  }

  .skill-boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .about img {
    width: 120px;
    height: 120px;
  }

  .about h1 {
    font-size: 1.8rem;
  }

  .about h2 {
    font-size: 1.2rem;
  }

  .about p {
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .about {
    max-width: 1200px;
    width: 90%;
  }

  .skill-boxes {
    grid-template-columns: repeat(3, 1fr);
  }

  .about img {
    width: 130px;
    height: 130px;
  }

  .about h1 {
    font-size: 2.2rem;
  }

  .about h2 {
    font-size: 1.4rem;
  }

  .about p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1280px) {
  .about {
    max-width: 1400px;
    width: 100%;
  }
}